<!DOCTYPE html>

<html ng-app="urlEditor">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Add URLs</title>

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="css/add.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.css">
</head>

<body ng-controller="urlCtrl">
	<div id="loader">
		<img src="img/logo.svg" alt=""> <br>
		<p><span id="dot"></span>
			<span id="dot"></span>
			<span id="dot"></span></p>
	</div>
	<div class="login-outer">
		<div id="login">
			<form id="loginForm" onsubmit="signIn();">
				<div id="logo"><img src="img/logo.svg" alt="">
					<span id="header">Login</span></div>
				<p id="name">Email</p>
				<input autofocus type="text" id="email" required placeholder="someone@somewhere.tld"><br>
				<p id="name">Password</p>
				<div id="password-div">
					<input onfocus="pswrdDivChange('focus');" onblur="pswrdDivChange('blur');" type="password" id="password" required placeholder="No one shall know...">
					<span id="forgot" onclick="forgotPassword('start');">Forgot Password</span><br>
				</div>
				<button type="submit">Log In</button>
				<p id="error">Errors will be<br> displayed here.</p>
			</form>

			<form id="forgotSubmit" onsubmit="forgotPassword('reset');">
				<div id="logo"><img src="img/logo.svg" alt="">
					<span id="header">Forgot Password</span></div>
				<p id="name">Email</p>
				<input autofocus placeholder="someone@somewhere.tld" type="text" id="emailForgot" required>
				<p id="name">Email Again</p>
				<input autofocus placeholder="someone@somewhere.tld" type="text" id="emailForgot2" required>
				<button type="submit">Get a New Password</button>
				<button onclick="forgotPassword('resetForm');">Back to Login</button>
				<p id="sent">An email was sent to - email - containing a password reset link.</p>
			</form>
		</div>
	</div>

	<div id="loggedin">
		<div class="grid">
			<div id="current">
				<h1>Current URLs</h1>
				<div class="url" ng-repeat="url in urls">
					<div class="grid">
						<input class="shortURL" type="text" spellcheck="false" ng-model="url.$id" readonly/>
						<div>
							<input class="hits" type="text" spellcheck="false" ng-model="url.th" readonly /><br>
							<div class="clicks">Clicks</div>
						</div>
					</div>
					<input class="longURL" type="text" spellcheck="false" ng-model="url.l" readonly/>
					<div class="grid platform">
						<div class="col">
							<p>Desktop Clicks: <span contenteditable class="desktop">{{url.td}}</span></p>
						</div>
						<div class="col">
							<p>Mobile Clicks: <span contenteditable class="mobile">{{url.tm}}</span></p>
						</div>
					</div>
					<br>
					<div class="grid">
						<div class="col">
						<img class="edit" src="img/edit.svg">
						</div>
						<div class="col">
						<img class="stats" src="img/trending-up.svg" alt="">
						</div>
						<div class="col">
						<img class="delete" src="img/trash.svg" ng-click="urls.$remove(url)">
						</div>
					</div>
				</div>
			</div>

			<div id="visualization">
				<h1>Data for "<span class="shortURLdata"></span>"</h1>
				<p>Total Hits, Mobile Hits and Desktop Hits:</p>
				<canvas id="allHits"></canvas>
				<p>All Platforms:</p>
				<canvas id="platform"></canvas>
				<div class="grid">
					<div class="col">
						<p>Referrer:</p>
						<canvas id="referrer"></canvas>
					</div>
					<div class="col">
						<p>Countries:</p>
						<canvas id="countries"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div id="new">
			<h1>Add New URL</h1>
			<form onsubmit="add();">
				<input type="text" id="short-url" required placeholder="Short URL">
				<span onclick="rollDice();">Random</span>
				<input type="text" id="long-url" required placeholder="Long URL">
				<button type="submit">Shorten</button>
			</form>
		</div>
		<!-- <div id="edit">
			<h1>Edit URL</h1>
			<div id="edit-modal">
				<form onsubmit="saveEdit();">
					<p>Old URL:<input id="shortURLold" required type="text" spellcheck="false">
					New URL:<input id="shortURLnew" required placeholder="New Short URL" type="text" spellcheck="false">
					Long URL:<input id="longURLedit" required type="text" spellcheck="false"></p>
					<button type="submit">Save</button>
				</form>
			</div>
		</div> -->


		<button onclick="signOut();">Sign Out</button>
		<button onclick="resetPassword();">Reset Password</button>

		<p id="info"></p>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>

	<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.min.js"></script>

	<script src="js/add.js"></script>

</body>

</html>