*
    font-family 'quiroh'
    padding 0
    margin 0
    
body
    background aliceblue
      
// nav
//     display flex
//     padding 10px 7px
//     background-color black
//     color white
//     header
//         flex 1
//         h3
//             font-weight 300
//     links
//         flex 4
//         ul
//             list-style-type none
//             display flex
//             flex-flow row nowrap
//             justify-content flex-end
//             li
//                 margin-left 10px
//                 h3
//                     font-weight 300
                
hero
    position fixed
    top 0
    left 0
    z-index 4
    height 100vh
    margin 0 4rem
    max-width 600px
    display flex
    justify-content center
    flex-flow column wrap
    float left
    background none
    h1
        line-height 1
        font-size 3rem
    h3
        margin-top 1rem
        font-weight 300
        
projects
    position absolute
    top 0
    left -4rem
    z-index 3
    // height 100vh
    display flex
    justify-content center
    align-items flex-end
    width 100%
    flex-flow column wrap
    background none
    .right
        cursor pointer
        width 230px
        height 230px
        background-size cover
        border-radius 100%
        margin-bottom -5.5rem
    .right:last-child
        margin-bottom 0rem
    .left
        cursor pointer
        width 230px
        height 230px
        background-size cover
        border-radius 100%
        margin 0 13rem -5.5rem 0
    #murls-php
        background-image url("https://cdn.murls.ga/White@4x.png")
    #murls-firebase
        background-image url("https://cdn.murls.ga/White@4x.png")
    #site
        background-image url("https://avatars2.githubusercontent.com/u/18450543?s=400&u=13aaf3f78b21331d7f20976fa7792a38b82b235c&v=4")
    #dow
        background-image url("https://pbs.twimg.com/profile_images/497119034647662594/GCTODT78.png")