* {
  font-family: 'quiroh';
  padding: 0;
  margin: 0;
}
body {
  background: #f0f8ff;
}
hero {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  height: 100vh;
  margin: 0 4rem;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  float: left;
  background: none;
}
hero h1 {
  line-height: 1;
  font-size: 3rem;
}
hero h3 {
  margin-top: 1rem;
  font-weight: 300;
}
projects {
  position: absolute;
  top: 0;
  left: -4rem;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  flex-flow: column wrap;
  background: none;
}
projects .right {
  cursor: pointer;
  width: 230px;
  height: 230px;
  background-size: cover;
  border-radius: 100%;
  margin-bottom: -5.5rem;
}
projects .right:last-child {
  margin-bottom: 0rem;
}
projects .left {
  cursor: pointer;
  width: 230px;
  height: 230px;
  background-size: cover;
  border-radius: 100%;
  margin: 0 13rem -5.5rem 0;
}
projects #murls-php {
  background-image: url("https://cdn.murls.ga/White@4x.png");
}
projects #murls-firebase {
  background-image: url("https://cdn.murls.ga/White@4x.png");
}
projects #site {
  background-image: url("https://avatars2.githubusercontent.com/u/18450543?s=400&u=13aaf3f78b21331d7f20976fa7792a38b82b235c&v=4");
}
projects #dow {
  background-image: url("https://pbs.twimg.com/profile_images/497119034647662594/GCTODT78.png");
}
